extends layout

block scripts
  script(src='/js/jquery-2.1.3.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-table.min.js')
  script(src='/js/jquery.dataTables.min.js')
  script(src='/js/jquery-ui.min.js')
  script(src='/js/d3.min.js')
  script(src='/js/d3.tip.v0.6.3.js')
  script(src='/js/browse.js')
  script(src='/js/bootstrap-multiselect.js')
  script(src='/js/bootstrap-multiselect.js')
  script(src='/js/bootstrap-spinner.js')
  script(src='/js/dom.js')
  script(src='/js/dom-parser.js')
  script(src='/js/sax.js')
  script(src='/js/dataTables.bootstrap.min.js')
  script(src='/js/jquery-2.1.3.min.js')
  script(src='/js/bootstrap-table.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-table.min.js')
  script(src='/js/jquery-ui.min.js')
  script(src='/js/jquery.dataTables.min.js')
  script(src='/js/dataTables.bootstrap.min.js')
  script(src='/js/search.js')


block title
  title AberOWL: Framework for ontology-based data access in biology

block content
  .container-fluid
  -if(messages)
      p #{messages.errors}
    .jumbotron
        p(align='center')
          span Welcome to the AberOWL framework for ontology-based data access.
        p(align='center')
          span Currently hosting #{stats.oCount} ontologies, with #{stats.cCount} classes and #{stats.aCount} axioms.
        div
          center
            div.input-group
              input#search.form-control(placeholder='Enter a Search Query', type='text', autofocus='autofocus')
              span.input-group-btn
                button#sbutton.btn.btn-default(onclick='doSearch();') Query
            a#sparql.btn.btn.btn-default(href='#' style='display:none') Use in SPARQL
            a#pubmed.btn.btn.btn-default(href='#' style='display:none') Search PubMed
            br

        div#tabs(style='display:none;')
          ul
            li
              a(id='ctabhead' href='#overview') Classes
            li
              a(id='otabhead' href='#ontology') Ontologies
            li
              a(id='mtabhead' href='#mowl') DL Query

          div#overview
            table#main_search.table.table-striped.table-bordered.table-condensed
              thead
                tr
                  th OWL Class
                  th Ontology
                  th Label
                  th Definition

          div#ontology
            table#ontology_search.table.table-striped.table-bordered.table-condensed
              thead
                tr
                  th ID
                  th Name
                  th Description

          div#mowl
            input(name='type', type='radio', value='supeq', onclick='doSearch()')
            label Super- and Equivalent classes
            input(name='type', type='radio', value='supclass', onclick='doSearch()')
            label Superclasses
            input(name='type', type='radio', value='equivalent' checked='true', onclick='doSearch()')
            label Equivalent classes
            input(name='type', type='radio', value='subclass', onclick='doSearch()')
            label Subclasses
            input(name='type', type='radio', value='subeq', onclick='doSearch()')
            label Sub- and Equivalent classes

            table#manchester_search.table.table-striped.table-bordered.table-condensed
              thead
                tr
                  th OWL Class
                  th Ontology
                  th Label
                  th Definition
