extends layout

block content
  .container-fluid
    -if(messages)
      p #{messages.errors}
    .jumbotron
      img.img-responsive(style="float:left" width=150, height=150, src='logo-owl.png')
      br
      h1 &nbsp;Welcome to AberOWL
        br
        br
        p(style="clear:both")
          | Hosting #{stats.oCount} ontologies, with #{stats.cCount} classes and #{stats.aCount} axioms. 
        p
        a.btn.btn-lg.btn-primary(href='ontology', role='button') Browse Ontologies &raquo;
        a.btn.btn-lg.btn-warning(style='margin-left:10px', href='ontology/upload', role='button') 
          span Upload New Ontology&nbsp;
          span.glyphicon.glyphicon-upload(aria-hidden='true') 
      center
        input#autocomplete(style='width:100%', placeholder='Enter Manchester OWL Syntax Query')
        input(name='type', type='radio', value='supeq') 
        label Super- and Equivalent classes
        input(name='type', type='radio', value='supclass') 
        label Superclasses
        input(name='type', type='radio', value='equivalent') 
        label Equivalent classes
        input(name='type', type='radio', value='subclass') 
        label Subclasses
        input(name='type', type='radio', value='subeq' checked='true') 
        label Sub- and Equivalent classes
        br
        a#button.btn.btn.btn-success(onclick='query=document.getElementById(\'autocomplete\').value;redrawTable();') Query

      table#example.table.table-striped
        thead
          tr
            th OWL Class
            th Ontology
            th Label
            th Definition
      div#ontology(style="display:none")
        
