extends layout

block content
  .container-fluid
    .jumbotron
      h1 Welcome to AberOWL
        p
          | Hosting #{stats.oCount} ontologies, with #{stats.cCount} classes and #{stats.aCount} axioms. 
        p
        a.btn.btn-lg.btn-primary(href='ontology', role='button') Browse Ontologies &raquo;
  
