extends layout

block append scripts
  script(src='/js/jquery-2.1.3.min.js')
  script(src='/js/jquery-ui.min.js')
  script(src='/js/jquery.dataTables.min.js')
  script(async src='/js/search.js')
  <script> window.prerenderReady = false; </script>

block title
  title AberOWL: Framework for ontology-based data access in biology
  meta(name='keywords', content='aberowl aber-owl ontology repository OWL reasoning ontology-based data access biomedical ontologies bio-ontology bio-ontologies')
  meta(name='description', content='AberOWL repository of ontologies which provides access to OWL reasoning over the ontologies')
  link(rel="icon" href="http://aber-owl.net/favicon.png")
  link(rel='stylesheet', href='/css/base.css')
  link(rel='stylesheet', href='/css/style.min.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/css/jquery-ui.css')
  link(rel='stylesheet', href='/css/jquery.tagsinput.css')
  link(rel='stylesheet', href='/css/bootstrap.table.css')
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/bootstrap-multiselect.css')

  
block content
  .container-fluid
    .jumbotron
        p(align='center')
          span AberOWL ontology repository and semantic search engine:
        div
          center
            div.input-group
              input#search.form-control(placeholder='Enter a Search Query', type='text', autofocus='autofocus')
              span.input-group-btn
                button#sbutton.btn.btn-default(onclick='doSearch();') Query
            a#sparql.btn.btn.btn-default(href='#' style='display:none') Use in SPARQL
            a#pubmed.btn.btn.btn-default(href='#' style='display:none') Search PubMed
            br

        div#tabs(style='display:none;')
          ul
            li
              a(id='ctabhead' href='#overview') Classes
            li
              a(id='otabhead' href='#ontology') Ontologies
            li
              a(id='mtabhead' href='#mowl') DL Query

          div#overview
            table#main_search.table.table-striped.table-bordered.table-condensed
              thead
                tr
                  th OWL Class
                  th Ontology
                  th Label
                  th Definition

          div#ontology
            table#ontology_search.table.table-striped.table-bordered.table-condensed
              thead
                tr
                  th ID
                  th Name
                  th Description

          div#mowl
            input(name='type', type='radio', value='supeq', onclick='doSearch()')
            label Super- and Equivalent classes
            input(name='type', type='radio', value='supclass', onclick='doSearch()')
            label Superclasses
            input(name='type', type='radio', value='equivalent' checked='true', onclick='doSearch()')
            label Equivalent classes
            input(name='type', type='radio', value='subclass', onclick='doSearch()')
            label Subclasses
            input(name='type', type='radio', value='subeq', onclick='doSearch()')
            label Sub- and Equivalent classes

            table#manchester_search.table.table-striped.table-bordered.table-condensed
              thead
                tr
                  th OWL Class
                  th Ontology
                  th Label
                  th Definition
  +footer
