extends layout

block content
  .container-fluid
    -if(messages)
      p #{messages.errors}
    .jumbotron
      p(align='center')
        span Hosting #{stats.oCount} ontologies, with #{stats.cCount} classes and #{stats.aCount} axioms.
      center
        input#autocomplete(width="100%", style="width:100%", placeholder='Enter Manchester OWL Syntax Query', type='text')
        input(name='type', type='radio', value='supeq') 
        label Super- and Equivalent classes
        input(name='type', type='radio', value='supclass') 
        label Superclasses
        input(name='type', type='radio', value='equivalent') 
        label Equivalent classes
        input(name='type', type='radio', value='subclass') 
        label Subclasses
        input(name='type', type='radio', value='subeq' checked='true') 
        label Sub- and Equivalent classes
        br
        a#button.btn.btn.btn-success(onclick='query=document.getElementById(\'autocomplete\').value;redrawTable();') Query

      table#example.table.table-striped
        thead
          tr
            th OWL Class
            th Ontology
            th Label
            th Definition
      div#ontology(style="display:none")
