extends layout

block content
  .container-fluid
    .jumbotron
        h3.page-header Browse Ontologies
        -if(messages.info) 
          div.alert.alert-success(role='alert')
            span.glyphicon.glyphicon-ok(aria-hidden='true')
            span &nbsp; Info: #{messages.info}
        .table-responsive
          table.table.table-striped(data-toggle="table", data-url="x" data-search="true")
            thead
              tr
                th Acronym
                th Name
                th Description
            tbody
              for ontology in ontologies
                tr
                  td
                   a(href='ontology/'+ontology.id) #{ontology.id} 
                  td #{ontology.name}
                  td #{ontology.description}
