extends layout

block content
  .container-fluid
    .jumbotron
        h3.page-header Browse Ontologies
        h5 Here will probably be a search later : - ) 
        .table-responsive
          table.table.table-striped
            thead
              tr
                th Acronym
                th Name
                th Description
            tbody
              for ontology in ontologies
                tr
                  td
                   a(href='ontology/'+ontology.id) #{ontology.id} 
                  td #{ontology.name}
                  td #{ontology.description}
